/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[Name]
      ,[Description]
  FROM [GameData].[dbo].[Difficulties]

  SELECT TOP (1000) [Id]
      ,[Name]
      ,[Description]
  FROM [GameData].[dbo].[Games]

  SELECT TOP (1000) [Id]
      ,[GameId]
      ,[Name]
      ,[Objective]
  FROM [GameData].[dbo].[Levels]

  SELECT TOP (1000) [Id]
      ,[LevelId]
      ,[DifficultyId]
      ,[Turns]
  FROM [GameData].[dbo].[LevelTurns]

  SELECT TOP (1000) [Id]
      ,[LevelId]
      ,[DifficultyId]
      ,[StrategyId]
      ,[Start]
      ,[End]
      ,[TimeTicks]
      ,[Description]
  FROM [GameData].[dbo].[Plays]

  SELECT TOP (1000) [Id]
      ,[PlayId]
      ,[Win]
      ,[TurnsPlayed]
      ,[Resources]
      ,[UnitsLost]
      ,[UnitsLevelUps]
  FROM [GameData].[dbo].[PlayStats]

  SELECT TOP (1000) [Id]
      ,[Name]
      ,[Description]
  FROM [GameData].[dbo].[Strategies]

  SELECT TOP (1000) [Id]
      ,[Name]
      ,[Description]
  FROM [GameData].[dbo].[StrategyItems]

  SELECT TOP (1000) [Id]
      ,[StrategyId]
      ,[StrategyItemId]
  FROM [GameData].[dbo].[StrategyStrategyItems]

